    <!-- Services Section -->
    <section id="services" class="content-section text-center">
        <div class="services-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Services</h2>
                    <p>We offer responsive webdesign which supports all resolutions including (monitors, mobiles, tablets and retina display). As well the latest Search Engine Optimization (to bring your site to the forefront of your industry.)</p>
                </div>
            </div>
        </div>
    </section>